DM113/EstoqueService/EstoqueCliente1/Connected Services/ServiceReference1/EstoqueService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/01" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56252/EstoqueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Estoques" />
  <xs:element name="ListarProdutosEstoque">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProdutosEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Estoques" minOccurs="0" name="ListarProdutosEstoqueResult" nillable="true" type="q1:ArrayOfEstoqueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Estoques" minOccurs="0" name="Estoque" nillable="true" type="q2:EstoqueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarEstoqueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarQtdeProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarQtdeProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarQtdeProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverQtdeProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverQtdeProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverQtdeProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Estoques" minOccurs="0" name="VerProdutoEstoqueResult" nillable="true" type="q3:EstoqueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>