DM113/EstoqueService/EstoqueCliente1/Connected Services/ServiceReference1/EstoqueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/02" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/02/Imports">
      <xsd:import schemaLocation="http://localhost:56252/EstoqueService.svc?xsd=xsd3" namespace="http://projetoavaliativo.dm113/02" />
      <xsd:import schemaLocation="http://localhost:56252/EstoqueService.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:56252/EstoqueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56252/EstoqueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Estoques" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstoqueServiceV2_AdicionarQtdeProdutoEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarQtdeProdutoEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueServiceV2_AdicionarQtdeProdutoEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarQtdeProdutoEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueServiceV2_RemoverQtdeProdutoEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverQtdeProdutoEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueServiceV2_RemoverQtdeProdutoEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverQtdeProdutoEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueServiceV2_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueServiceV2_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstoqueServiceV2">
    <wsdl:operation name="AdicionarQtdeProdutoEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/AdicionarQtdeProdutoEstoque" message="tns:IEstoqueServiceV2_AdicionarQtdeProdutoEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/AdicionarQtdeProdutoEstoqueResponse" message="tns:IEstoqueServiceV2_AdicionarQtdeProdutoEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverQtdeProdutoEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/RemoverQtdeProdutoEstoque" message="tns:IEstoqueServiceV2_RemoverQtdeProdutoEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/RemoverQtdeProdutoEstoqueResponse" message="tns:IEstoqueServiceV2_RemoverQtdeProdutoEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/ConsultarEstoque" message="tns:IEstoqueServiceV2_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/ConsultarEstoqueResponse" message="tns:IEstoqueServiceV2_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>