DM113/EstoqueService/EstoqueCliente1/Connected Services/ServiceReference1/EstoqueService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/02" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdicionarQtdeProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarQtdeProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarQtdeProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverQtdeProdutoEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverQtdeProdutoEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverQtdeProdutoEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProdutoEstoque" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarEstoqueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>