DM113/EstoqueService/EstoqueCliente1/Connected Services/ServiceReference1/EstoqueService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://projetoavaliativo.dm113/01" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://projetoavaliativo.dm113/02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstoqueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://projetoavaliativo.dm113/01" location="http://localhost:56252/EstoqueService.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://projetoavaliativo.dm113/02" location="http://localhost:56252/EstoqueService.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IEstoqueService" type="i0:IEstoqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProdutosEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/ListarProdutosEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/IncluirProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/RemoverProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarQtdeProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/AdicionarQtdeProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverQtdeProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/RemoverQtdeProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/01/IEstoqueService/VerProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEstoqueServiceV2" type="i1:IEstoqueServiceV2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarQtdeProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/AdicionarQtdeProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverQtdeProdutoEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/RemoverQtdeProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://projetoavaliativo.dm113/02/IEstoqueServiceV2/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstoqueService">
    <wsdl:port name="BasicHttpBinding_IEstoqueService" binding="tns:BasicHttpBinding_IEstoqueService">
      <soap:address location="http://localhost:56252/EstoqueService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEstoqueServiceV2" binding="tns:BasicHttpBinding_IEstoqueServiceV2">
      <soap:address location="http://localhost:56252/EstoqueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>